apiVersion: apps/v1
kind: Deployment
metadata:
  name: stacks-webapp
  labels:
    app.kubernetes.io/name: stacks-webapp
    app.kubernetes.io/component: web
    app.kubernetes.io/part-of: stacks
spec:
  template:
    spec:
      containers:
        - name: web
          env:
            - name: NODE_ENV
              value: development

            - name: MENU_API_URL
              value: menuapi.dev-menu

            - name: LOG_LEVEL
              value: debug
