{
  "hooks": {
    "commit-msg": "commitlint -E HUSKY_GIT_PARAMS",
    "pre-push": "lerna version patch --yes --no-verify",
    "pre-commit": "npm run prettier --list-different && npm run test"
  }
}
