apiVersion: apps/v1
kind: Deployment
metadata:
  name: stacks-webapp
  labels:
    app.kubernetes.io/name: stacks-webapp
    app.kubernetes.io/component: web
    app.kubernetes.io/part-of: stacks
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: stacks-webapp
      app.kubernetes.io/component: web
      app.kubernetes.io/part-of: stacks
  template:
    metadata:
      labels:
        app.kubernetes.io/name: stacks-webapp
        app.kubernetes.io/component: web
        app.kubernetes.io/part-of: stacks
    spec:
      containers:
        - name: web
          # this we need to pass from the pipeline to the deployment steps
          image: stacks-webapp-app-image:tag
          imagePullPolicy: IfNotPresent
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: NODE_ENV
              valueFrom:
                fieldRef:
                  fieldPath: metadata.labels['environment']
            - name: RELEASE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.annotations['release']

            - name: APPINSIGHTS_INSTRUMENTATIONKEY
              valueFrom:
                secretKeyRef:
                  name: appinsights
                  key: instrumentationkey
                    
          resources:
            limits:
              cpu: 300m
              memory: 300Mi
            requests:
              cpu: 300m
              memory: 300Mi

          ports:
            - name: http
              containerPort: 3000

          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /
              port: 3000
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 10

          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /
              port: 3000
              scheme: HTTP
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 10
